name: Build Streekx
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Build APK with Error Log
        run: |
          chmod +x gradlew || true
          # Hum sirf error dikhane ke liye ye command chalayenge
          gradle assembleDebug --stacktrace --continue
      - name: Upload APK
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: Streekx-App
          path: app/build/outputs/apk/debug/app-debug.apk
